h3 {
    font-size: 26px !important;
} 
.btn-success:hover{
    background-color: pink;
    
}
canvas{
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{box-shadow: 1px 1px 38px blue;}
    to{box-shadow: 1px 1px 38px green;}
}
body{
    font-family: 'Nerko One', cursive;
    margin: 10px;
}